<div class="sidebar-container">
    <img src="assets/Logowht.png" alt="Resource AI Logo">
    <div class="sidebar-links-grid">
        <a href="home.html" class="sidebar-link w--current">
            <div class="navlink">Home</div>
        </a>
        <a href="raihub.html" class="sidebar-link">
            <div class="navlink">RAIhub</div>
        </a>
        <a href="solution-design.html" class="sidebar-link">
            <div class="navlink">Solution Design</div>
        </a>
        <a href="contact.html" class="sidebar-link">
            <div class="navlink">Contact</div>
        </a>
        <a href="blog.html" class="sidebar-link">
            <div class="navlink">BLOG</div>
        </a>
    </div>
</div> 